<div class = "container">
  <div class = "content">
    <div class = "content-wrapper">

      <h2>Edit <%= resource_name.to_s.humanize %></h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :firstname, 'First name' %><br />
          <%= f.text_field :firstname %>
        </div>

        <div class="field">
          <%= f.label :lastname, "Last name"  %><br />
          <%= f.text_field :lastname %>
        </div>

        <div class="field">
          <%= f.label :quote %><br />
          <%= f.text_field :quote %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
          <%= f.password_field :current_password, autocomplete: "off" %>
        </div><br>

        <div class="actions">
          <%= f.submit "Update", class: "btn btn-warning" %>
        </div>
      <% end %>
      <hr>

      <h3>Cancel my account</h3>

      <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn" %></p>

      <%= link_to "Back", :back %>
    </div>
  </div>  
</div>