<div class = "container">
  <div class = "login-wrapper">
    <div class = "login-inner">
     <h2>Sign up</h2>
    
      <div class = "row">
 <%= devise_error_messages! %>
      <div class = "form-group">

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name))  do |f| %>
            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, class: "form-control" %>
            </div>

            <div class="field">
              <%= f.label :firstname %><br />
              <%= f.text_field :firstname, placeholder: "Burt", class: "form-control"  %>
            </div>

            <div class="field">
              <%= f.label :lastname %><br />
              <%= f.text_field :lastname, placeholder: "Macklin", class: "form-control"  %>
            </div>

          <div class="field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off", class: "form-control"  %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control"  %>
          </div>
          <br>
          <div class ="actions">
            <%= f.submit "Sign up", class: "btn btn-warning form-control" %>
          </div>
          <br>
          Or <%= render "devise/shared/links" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
