
<%= form_for(project.tasks.build) do |f| %>
  <%= f.hidden_field :project_id %>
  <div class = "input-group">
  	<span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-pencil"></i></span>
    <%= f.text_field :content, 'aria-describedby' => "basic-addon1", id: "todofield", class: "form-control" %>
  	<span class="input-group-btn">
  		<%= button_tag(type: 'submit', class: "btn btn-warning") do %>
 		<i class="glyphicon glyphicon-plus"></i>
		<% end %>
	</span>
  </div>
<% end %>
