

<li><span>
	<% if task.completed %>
		<del><%= task.content %> </del>
	<% else %>
		<%= task.content %>
	<% end %>
	<span>
	<%= link_to toggle_completed_task_path(task), :method => :put, class: "checkbutton" do %>
		<i class="glyphicon glyphicon-ok"></i>
	<% end %>
	<%= link_to task, method: :delete, data: { confirm: "You sure?" }, class: "text-right float-right" do %>
		<i class="glyphicon glyphicon-remove"></i>
	<% end %>
</li>