/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
/* site-wide */
/* line 19, /Users/chrislange/Documents/Rails Apps/knopebook/app/assets/stylesheets/application.css.scss */
body {
  background: url(/assets/waffles-f7a84aa5b49468366c2f905941d679a8ea38c175010a1bae35e9c9bf610ea88c.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Roboto Condensed', sans-serif;
  color: #A3A3A2;
}

/* line 30, /Users/chrislange/Documents/Rails Apps/knopebook/app/assets/stylesheets/application.css.scss */
* {
  border-radius: 0px !important;
}

/* line 35, /Users/chrislange/Documents/Rails Apps/knopebook/app/assets/stylesheets/application.css.scss */
a {
  color: #f0ad4e;
  transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -ms-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
}

/* line 44, /Users/chrislange/Documents/Rails Apps/knopebook/app/assets/stylesheets/application.css.scss */
a:hover {
  color: gray;
  text-decoration: none;
}

/* line 50, /Users/chrislange/Documents/Rails Apps/knopebook/app/assets/stylesheets/application.css.scss */
.container-fluid {
  padding: 0px;
}

/* nav and buttons */
/* line 58, /Users/chrislange/Documents/Rails Apps/knopebook/app/assets/stylesheets/application.css.scss */
.navbar {
  margin-bottom: 0px;
  padding: 10px 20px;
  background: none;
  background-color: rgba(255, 255, 255, 0.75);
}

/* line 66, /Users/chrislange/Documents/Rails Apps/knopebook/app/assets/stylesheets/application.css.scss */
.popover-wrap {
  width: 400px;
}

/* line 70, /Users/chrislange/Documents/Rails Apps/knopebook/app/assets/stylesheets/application.css.scss */
.btn {
  border: 1px solid black;
  color: black;
  text-shadow: none;
  transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -ms-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
}

/* line 82, /Users/chrislange/Documents/Rails Apps/knopebook/app/assets/stylesheets/application.css.scss */
.btn-warning {
  background: none;
  text-decoration: none;
  border: 1px solid #f0ad4e;
  color: #f0ad4e;
}

/* line 90, /Users/chrislange/Documents/Rails Apps/knopebook/app/assets/stylesheets/application.css.scss */
.navbar-btn {
  background-color: white;
  color: #f0ad4e;
  border: 1px solid #f0ad4e;
  margin-left: 3px;
}

/* login/welcome pages */
/* line 99, /Users/chrislange/Documents/Rails Apps/knopebook/app/assets/stylesheets/application.css.scss */
.login-wrapper {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.25);
}

/* line 109, /Users/chrislange/Documents/Rails Apps/knopebook/app/assets/stylesheets/application.css.scss */
.login-inner {
  height: 50%;
  width: 50%;
  text-align: center;
  min-width: 300px;
  color: white;
}

/* line 119, /Users/chrislange/Documents/Rails Apps/knopebook/app/assets/stylesheets/application.css.scss */
.login-hero {
  font-family: 'Londrina Sketch', cursive;
  font-size: 80px;
}

/* dashboard */
/* line 127, /Users/chrislange/Documents/Rails Apps/knopebook/app/assets/stylesheets/application.css.scss */
.content {
  position: fixed;
  padding: 0px;
  margin-top: 0px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #F7F6F4;
}

/* line 140, /Users/chrislange/Documents/Rails Apps/knopebook/app/assets/stylesheets/application.css.scss */
.content-wrapper {
  padding: 80px 20px;
  margin-top: 0px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #F7F6F4;
}

/* line 153, /Users/chrislange/Documents/Rails Apps/knopebook/app/assets/stylesheets/application.css.scss */
.col-md-4 img {
  width: 100%;
}

/* line 157, /Users/chrislange/Documents/Rails Apps/knopebook/app/assets/stylesheets/application.css.scss */
.giant-glyph {
  font-size: 2em;
  color: #f0ad4e;
}

/* posts */
/* line 165, /Users/chrislange/Documents/Rails Apps/knopebook/app/assets/stylesheets/application.css.scss */
.post {
  background: white;
  padding: 20px;
  margin: 0 0 10px 0;
  z-index: 100;
  font-size: 15px;
}

/* line 173, /Users/chrislange/Documents/Rails Apps/knopebook/app/assets/stylesheets/application.css.scss */
.post-head {
  margin-bottom: 1px solid black;
  font-size: 15px;
  padding: 0 5px;
  color: #EBDAA4;
}

/* line 181, /Users/chrislange/Documents/Rails Apps/knopebook/app/assets/stylesheets/application.css.scss */
.flag {
  background-color: rgba(255, 0, 0, 0.5);
  height: 100px;
  width: 25px;
  margin: 10px 0 0 -20px;
}
