/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
/* site-wide */
/* line 19, /Users/chrislange/Documents/Rails Apps/knopebook/app/assets/stylesheets/application.css.scss */
body {
  background: url(/assets/waffles-f7a84aa5b49468366c2f905941d679a8ea38c175010a1bae35e9c9bf610ea88c.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 29, /Users/chrislange/Documents/Rails Apps/knopebook/app/assets/stylesheets/application.css.scss */
a {
  color: #f0ad4e;
}

/* line 33, /Users/chrislange/Documents/Rails Apps/knopebook/app/assets/stylesheets/application.css.scss */
a:hover {
  color: gray;
  text-decoration: none;
}

/* line 43, /Users/chrislange/Documents/Rails Apps/knopebook/app/assets/stylesheets/application.css.scss */
.navbar {
  margin-bottom: 0px;
}

/* login/welcome pages */
/* line 49, /Users/chrislange/Documents/Rails Apps/knopebook/app/assets/stylesheets/application.css.scss */
.login-wrapper {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* line 58, /Users/chrislange/Documents/Rails Apps/knopebook/app/assets/stylesheets/application.css.scss */
.login-inner {
  background-color: rgba(255, 255, 255, 0.85);
  height: 50%;
  width: 50%;
  padding: 50px;
  text-align: center;
  min-width: 300px;
}

/* dashboard */
/* line 70, /Users/chrislange/Documents/Rails Apps/knopebook/app/assets/stylesheets/application.css.scss */
.content-wrapper {
  position: fixed;
  padding: 20px;
  margin-top: 50px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #FCFBF9;
}

/* line 85, /Users/chrislange/Documents/Rails Apps/knopebook/app/assets/stylesheets/application.css.scss */
.col-md-4 img {
  width: 100%;
}

/* posts */
/* line 91, /Users/chrislange/Documents/Rails Apps/knopebook/app/assets/stylesheets/application.css.scss */
.post {
  background: white;
  padding: 10px;
  margin: 0 0 10px 0;
  box-shadow: 0px 2px 2px #B5B4B2;
}
