
<div class = "container">
	<div class = "content">
		<div class = "content-wrapper">
			<div class = "row">
				<div class = "col-md-3">
					<div class = "jumbotron">
						<h1><span class="glyphicon glyphicon-picture" aria-hidden="true"></span></h1>
					</div>
				</div>
				<div class = "col-md-9">
					<div class = "jumbotron">
						<h1>
							<%= @user.firstname.titleize %> <small><%= @user.lastname %></small>
							
							</h1>
						<%= link_to "Edit", edit_user_registration_path(@user), class: "btn btn-warning" %>

					</div>
				</div>
			</div>
			<hr>
			<div class = "row">
				<div class = "col-md-2">
					<% @users.each do |user| %>
						<% if user != current_user %>
							<% if !user.friend_with? current_user  %>
								<p><%= user.firstname %></p>
								<%= link_to "Add friend?", friends_path(:user_id => user), :method => "post" %>
							<% end %>
						<% end %>
					<% end %>
					<% current_user.pending_invited_by.each do |user| %>
						<%= user.firstname %> <% link_to "Confirm friend?", friend_path(user), :method => "put" %>
					<% end %>
				</div>
				<div class = "col-md-2">
					Your friends: <hr>
					<% @user.friends.each do |friend| %>
						<p><%= friend.firstname %> </p>
					<% end %>
				</div>
				<div class = "col-md-8">
					<div class = "row">
						<div class = "col-xs-4">
							<div class = "post">
								<h5>Favorite MouseRat Song</h5>
								<h4>10,000 candles in the wind </h4>
							</div>
						</div>
						<div class = "col-xs-4">
							<div class = "post">
								<h5>Big Game Hunter Score</h5>
								<h4>9,500 </h4>
							</div>
						</div>
						<div class = "col-xs-4">
							<div class = "post">
								<h5>Favorite Female Senetor</h5>
								<h4>Maria Cantwell</h4>
							</div>
						</div>
					</div>
					<div class = "row">
						<div class = "col-xs-12">
							<div class = "post">
								<h5> Quote </h5>
								<h2><%= @user.quote %> </h2>
							</div>
						</div>
					</div>
					<div class = "row">
						<div class = "col-xs-4">
							<div class = "post">
							</div>
						</div>
						<div class = "col-xs-4">
							<div class = "post">
							</div>
						</div>
						<div class = "col-xs-4">
							<div class = "post">
							</div>
						</div>
					</div>

				</div>
			</div> 
		</div> <!-- content-wrapper -->
	</div>
</div> <!-- container -->