<div class = "form-group">
	<%= form_for [@user, Post.new] do |f| %> 
	<div class = "input-group">
		<span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-pencil"></i></span>
		<%= f.text_area :content, class: 'form-control', 'aria-describedby' => "basic-addon1" , placeholder: 'Rectangle. America. Megaphone. Monday. Butthole.' %>
	</div>
	<%= f.hidden_field :post_type, :value => 1 %>
</div> <!-- form group-->

<p class = "text-center"><%= f.submit class: 'btn btn-warning' %> </p>

	<% end %>