<div class="form-group">
    <%= form_for [@user, Post.new] do |f| %>
    <h2 class = "text-center"><%= f.label "Anne you" %></h2>
      <select class="input-group form-control" id = "comp-val1">
          <option>beautiful</option>
          <option>wonderful</option>
          <option>opulent</option>
      </select>
      <select class="input-group form-control" id = "comp-val2">
        <option>tropical</option>
        <option>gay</option>
        <option>harmonious</option>
      </select>
      <select class="input-group form-control" id = "comp-val3">
        <option>fish</option>
        <option>penguin</option>
        <option>musk-Ox</option>
      </select>
      </div>
      <%= f.hidden_field :content, :id => "comp-result" , :value => "Testing" %>
      <%= f.hidden_field :post_type, :value => 2 %>
      <p class = "text-center"><%= f.submit "Compliment", class: 'btn btn-warning', id: 'comp-button' %></p>
    <% end %>