<div class = "form-group">
<%= form_for Project.new do |f| %> 
		<div class = "input-group">
			<span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-pencil"></i></span>
			<%= f.text_field :title, class: 'form-control', 'aria-describedby' => "basic-addon1", placeholder: 'The Pawnee Commons' %>	
		</div>
	</div> <!-- form group-->

<p class = "text-center"><%= f.submit class: 'btn btn-warning' %> </p>

	<% end %>