
<div class = "container-fluid">
	<% if user_signed_in? %>
	<div class = "content">
		</div>
	<div class = "content-wrapper">
		<div class = "row top-row">
			<div class = "col-md-4">
				<div class = "post text-center">
					<h1><span class="glyphicon glyphicon-bullhorn giant-glyph" aria-hidden="true"></span></h1>
					<h4>Make an announcement</h4>
				</div>
				<%= render "welcome/announcement_form" %>
					
			</div>
			<div class = "col-md-4">
				<div class = "post text-center">
					<h1><span class="glyphicon glyphicon-heart-empty giant-glyph" aria-hidden="true"></span></h1>
					<h4>Compliment Anne</h4>
				</div>
				<%= render "welcome/compliment_form" %>	
			</div>
			<div class = "col-md-4">
				<div class = "post text-center">
					<h1><span class="glyphicon glyphicon-tasks giant-glyph" aria-hidden="true"></span></h1>
					<h4>Start a project</h4>
				</div>
				<%= render "welcome/project_form" %>	
			</div>

		</div>
	
	<hr>
		<div class = "row ">
			<div class = "col-md-4" >
				
					<h2 class = "text-center"> Latest announcements </h2>
					<% @announcements.each_slice(3) do |announcements| %>
						 <%= render partial: "posts/post", collection: announcements %>
							<div class = "post">
								<%= image_tag "ParksAndRecAds1"  %>
							</div>
					<% end %>
				
			</div>
			<div class = "col-md-4" style = 'background-color: rgba(0, 0, 0, 0.03);'>

				<h2 class = "text-center"> Newest compliments </h2>
				<%= render @compliments %>
			</div>
			<div class = "col-md-4">
				<div class = "row">
					<h2 class = "text-center"> Current projects </h2>
					<%= render @user.projects %>
				</div>
			</div>
		</div><!-- row -->
	</div> <!-- content-wrapper -->
	<% else %>

	<div class = "login-wrapper">
		<div class = "login-inner">
			<h1 class = "login-hero">Be the Leslie Knope of whatever you do!</h1>
			
			<h3> <%= link_to "Log in" , new_user_session_path %> or <%= link_to "Sign up" , new_user_registration_path %> and help make Pawnee great </h3>
		</div>
	</div>
	<% end %>



</div> <!-- contrainer-fluid -->


