<div class = "col-xs-11">
	<div class = "post">
		<p><strong><%= project.title %> 
			<%= link_to project, method: :delete, data: { confirm: "You sure?" }, class: "text-right pull-right" do %>
				<i class="glyphicon glyphicon-remove"></i>
			<% end %>
		</p></strong>

		<%= render project.tasks %>
		<hr>
		<%= render 'tasks/task_form', project: project %>

	</div>
</div>
<div class = "col-xs-1 flag">
	
</div>

