<div class = "container-fluid">
  <div class = "login-wrapper">
    <div class = "login-inner">
      <h2>Log in</h2>
        <div class = "row">
         <div class = "form-group">

          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field">
              
              <%= f.email_field :email, autofocus: true, class: "form-control" , placeholder: "Email" %>
            </div>
            <br>
            <div class="field">
              
              <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "password" %>
            </div>

            <% if devise_mapping.rememberable? -%>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end -%>
            <br>

            <div class="actions">
              <%= f.submit "Log in", class: "btn btn-warning form-control" %>
            </div>
          <% end %>
        </div>

        <%= render "devise/shared/links" %>
      </div> <!-- row -->
    </div> <!-- login-inner -->
  </div> <!-- login-wrapper -->
</div> <!-- container -->
