
	<div class = "post">
		<p class = "post_title">
			<% if !post.created_at.blank? %>  
				
			<% end %>
		</p>
		<p class = "post_content">
			<% if !post.content.blank? %>
				<%= post.content %>
			<% end %>
		</p>
	</div>
	<div class = "post-head pull-right">
		<strong > <%= post.created_at.strftime("%b %e, %Y") %> by <%= link_to post.user.firstname, user_path(post.user) %> </strong>
		<% if post.user == current_user %>
					| <%= link_to [@user, post], method: :delete, data: { confirm: "You sure?" }, class: "text-right" do %> 
						<i class="glyphicon glyphicon-remove"></i>
					<% end %>
				<%end%>
	</div>

<hr>