/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* site-wide */
body { 

  background: image-url("waffles.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Roboto Condensed', sans-serif;
  color: #A3A3A2;
}

* {
  
  border-radius: 0px !important;
}

a {
	color: #f0ad4e;
   transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -ms-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
}

a:hover {
	color: gray;
	text-decoration: none;
}


.container-fluid {
  padding: 0px;
 
	
}

/* nav and buttons */

.navbar {
	margin-bottom: 0px;
  padding: 10px 20px;
  background: none;
  background-color: rgba(255, 255, 255, 0.75);

}

.popover-wrap {
  width: 400px;
}

.btn {
  border: 1px solid black;
  color: black;
  text-shadow: none;
  transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -ms-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
          
}

.btn-warning {
  background: none;
  text-decoration: none;
  border: 1px solid #f0ad4e;
  color: #f0ad4e;

}

.navbar-btn {
  background-color: white;
  color: #f0ad4e;
  border: 1px solid #f0ad4e;
  margin-left: 3px;
}

/* login/welcome pages */

.login-wrapper {
	min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.25);
}

.login-inner {
	
	height:50%;
	width: 50%;
	
	text-align: center;
	min-width: 300px;
  color: white;

}
.login-hero {
  font-family: 'Londrina Sketch', cursive;
  font-size: 80px;
  
}

/* dashboard */

.content {
	position: fixed;
  padding: 0px;
  margin-top: 0px;

  top:0;
  left:0;

  width: 100%;
  height: 100%;
  background: #F7F6F4;
}

.content-wrapper {

  padding: 80px 20px;
  margin-top: 0px;

  top:0;
  left:0;

  width: 100%;
  height: 100%;
  background: #F7F6F4;
}

.col-md-4 img {
	width: 100%;
}

.giant-glyph {
  font-size: 2em;
  color: #f0ad4e;
}


/* posts */

.post {
	background: white;
	padding: 20px;
	margin: 0 0 10px 0;
  z-index: 100;
  font-size: 15px;

}
.post-head {
  margin-bottom: 1px solid black;
  font-size: 15px;
  padding: 0 5px;
  color: #EBDAA4;

}

.flag {
  background-color: rgba(255, 0, 0, 0.5);
  height: 100px;
  width: 25px;
  margin: 10px 0 0 -20px;


}


