<div class = "hidden-sm hidden-md hidden-lg">
  <% if user_signed_in? %>
            <div id="popover-wrap">
              
            <button class = "btn navbar-btn btn-warning" id="popoverFriends" data-placement = "bottom" data-trigger="focus">W.P.A. <span class="badge"><%= @user.pending_invited_by.count %></span></button>
                <div id="popoverFriendsHiddenContent" style="display: none">
                  

                   <% unless @user.pending_invited_by.empty? %>
              <% @user.pending_invited_by.each do |u| %>
                <h3 class="text-center"><%= link_to u.firstname, user_path(u.id) %>
              <%= link_to "Confirm friend?", friend_path(u), :method => "put" %> 
              
              <% end %>
            <% else %>
            None :(
            <% end %>
            </h3>
                </div>  
                
                <div id="popoverFriendsHiddenTitle" style="display: none">
                   <h3>Your requests: </h3>
                </div> 
             </div>
             <% end %>
              </div>
