<!DOCTYPE html>
<html>
<head>
  <title>Knopebook</title>
  
  <%= javascript_include_tag 'application'%>
  <%= javascript_include_tag 'custom' %>
  <%= csrf_meta_tags %>

  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Londrina+Sketch' rel='stylesheet' type='text/css'>

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>

	<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
      <%= link_to "KnopeBook", root_path, class: "navbar-brand" %>
        
      </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div>
      
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      <ul class="nav navbar-nav navbar-right">
      	<%  unless user_signed_in? %>
        <li><%= link_to "Log In", new_user_session_path %></li>
        <% else %>
        <li><%= link_to "Log Out", destroy_user_session_path, :method => 'delete' %></li>

        
        <li>
            <div id="popover-wrap">
              
            <button class = "btn navbar-btn btn-warning" id="popoverFriends" data-placement = "bottom" data-trigger="focus">Workplace Proximity Acquaintances <span class="badge"><%= @user.pending_invited_by.count %></span></button>
                <div id="popoverFriendsHiddenContent" style="display: none">
                  

                   <% unless @user.pending_invited_by.empty? %>
              <% @user.pending_invited_by.each do |u| %>
                <h3 class="text-center"><%= link_to u.firstname, user_path(u.id) %>
              <%= link_to "Confirm friend?", friend_path(u), :method => "put" %> 
              
              <% end %>
            <% else %>
            None :(
            <% end %>
            </h3>
                </div>  
                
                <div id="popoverFriendsHiddenTitle" style="display: none">
                   <h3>Your requests: </h3>
                </div> 
             </div>
              </li>
        <li><button class = "btn navbar-btn">Button</button></li>
        <li><button type="button" class="btn navbar-btn" data-toggle="modal" data-target="#myModal">
 						 Profile
						</button>
            <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
	
		<%= yield %>
		
	<div class = "navbar navbar-default navbar-fixed-bottom">
		<p class = "navbar-text"><span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span> Chris Lange 2015 </p>
	</div>
  <% if user_signed_in? %>
      <!-- Profile Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Hey <%= current_user.firstname %>!</h4>
          </div>
          <div class="modal-body">
           <p> Name: <%= current_user.firstname + " " + current_user.lastname %> </p>
            <p>Email: <%= current_user.email %> </p>
            <p>Quote: <%= current_user.quote %></p>
            <p> Position at Parks and Recreation: </p>
            <p> Score on Big Game Hunters: </p>



          </div>
          <div class="modal-footer">
            <button type="button" class="btn" data-dismiss="modal">Close</button>
            <%= link_to "Edit", edit_user_registration_path(@user), class: "btn btn-warning" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</body>
</html>



